Repository kubernetes-sigs/cluster-api-provider-vsphere, pull requests merged in 2021-12, with the labels that each got.

#1316 Implement deletion logic for VSphereDeploymentZone
  api/v1alpha3/vspheredeploymentzone_conversion.go
  api/v1alpha3/vspherefailuredomain_conversion.go
  api/v1alpha4/vspheredeploymentzone_conversion.go
  api/v1alpha4/vspherfailuredomain_conversion.go
  api/v1beta1/vspheredeploymentzone_conversion.go
  api/v1beta1/vspheredeploymentzone_types.go
  api/v1beta1/vspherefailuredomain_conversion.go
  controllers/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_unit_test.go
  controllers/vspherevm_controller.go
  pkg/util/machines.go
  pkg/util/machines_test.go
  test/helpers/envtest.go
Labels: lgtm, approved, cncf-cla: yes, size/XL

#1322 Supervisor based integration tests. RBAC fixes for capv-manager
  .gitignore
  Makefile
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentlibraryproviders.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsourcebindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsources.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclassbindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclasses.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachines.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineservices.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_webconsolerequests.yaml
  config/deployments/integration-tests/kustomization.yaml
  config/rbac/aggregate_label_to_cluster_role_patch.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/supervisor/kustomization.yaml
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler_test.go
  controllers/vspheremachine_controller.go
  hack/fetch_ext_bins.sh
  main.go
  pkg/manager/network.go
  pkg/util/testutil.go
  test/e2e/capv_quick_start_test.go
  test/e2e/e2e_suite_test.go
  test/helpers/framework.go
  test/integration/cluster_lifecycle_test.go
  test/integration/data/shared/metadata.yaml
  test/integration/integration-dev.yaml
  test/integration/integration_suite_test.go
  test/integration/sanity_test.go
Labels: size/XXL, lgtm, approved, cncf-cla: yes

#1323 Adds service discovery and service account controllers
  apis/vmware/v1beta1/conditions_consts.go
  apis/vmware/v1beta1/providerserviceaccount_types.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
  config/rbac/role.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/kustomization.yaml
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_suite_test.go
  controllers/svcdiscovery_controller_unit_test.go
  go.mod
  main.go
  pkg/builder/flags.go
  pkg/builder/test_suite.go
  pkg/builder/testutil.go
  pkg/builder/unit_test_context.go
  pkg/context/fake/constants.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/context/fake/fake_guest_cluster_context.go
  pkg/context/fake/fake_util.go
  pkg/context/fake/fake_vmware_cluster_context.go
  pkg/context/vmware/guest_cluster_context.go
Labels: size/XXL, lgtm, approved, cncf-cla: yes, ok-to-test
