Repository kubernetes-sigs/cluster-api-provider-vsphere, pull requests merged in 2022-04, with the labels that each got.

#1504 Enable keep-alive for connections to vCenter.
  config/manager/manager.yaml
Labels: size/XS, lgtm, approved, cncf-cla: yes, ok-to-test

#1510 Add replace directive for `cluster-api` in `go.mod`
  go.mod
Labels: size/XS, lgtm, approved, cncf-cla: yes, ok-to-test

#1507 Add missing tests for the `pkg/record`
  pkg/record/recorder_test.go
Labels: lgtm, approved, cncf-cla: yes, size/S, ok-to-test

#1508 Update Cobra to version 1.4.0 and Viper to 1.10.1
  go.mod
  go.sum
Labels: size/L, lgtm, approved, cncf-cla: yes, ok-to-test

#1501 Improve tagsId field description
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Labels: size/XS, lgtm, approved, cncf-cla: yes

#1480 Add tests for the `services/govmomi/extra` package
  pkg/services/govmomi/extra/extra_suite_test.go
Labels: size/L, lgtm, approved, cncf-cla: yes, ok-to-test

#1491 Update mdlint to v0.31.1
  Makefile
  hack/tools/mdlint/Dockerfile
  hack/tools/mdlint/Makefile
Labels: size/XS, lgtm, approved, cncf-cla: yes

#1512 Removes misleading UTC time for office hours
  README.md
Labels: size/XS, lgtm, approved, cncf-cla: yes

#1517 Update README with new OVA links
  README.md
Labels: lgtm, approved, cncf-cla: yes, size/S

#1506 Add notifier for CAPV credentials file
  controllers/vmware/test/controllers_suite_test.go
  go.mod
  go.sum
  main.go
  pkg/manager/manager.go
  pkg/manager/manager_test.go
  pkg/manager/options.go
Labels: size/L, lgtm, approved, cncf-cla: yes, ok-to-test

#1475 Add tests for the `services/govomi/metadata` package
  pkg/services/govmomi/metadata/metadata_suite_test.go
Labels: size/L, lgtm, approved, cncf-cla: yes, ok-to-test

#1518 Start the Keep Alive handler for VSphere client used in e2e tests
  test/e2e/config/vsphere-ci.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/govmomi_test.go
Labels: lgtm, approved, cncf-cla: yes, size/S, kind/failing-test, area/testing

#1450 Add unit tests for identity package
  pkg/identity/identity_test.go
Labels: lgtm, approved, cncf-cla: yes, size/S, ok-to-test

#1428 Allow secrets to be owned by external tools
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vsphereclusteridentity_controller_test.go
  pkg/identity/identity.go
  pkg/identity/identity_test.go
Labels: size/L, lgtm, approved, cncf-cla: yes, ok-to-test
